$admin-header-height: 70px;
$admin-footer-height: 70px;
$admin-nav-width: 250px;

*,
*::before,
*::after {
    box-sizing: border-box;
    list-style-type: none;
}

body {
    max-height: 100vh;
    overflow-x: hidden;
}

.admin {
    --spacing: 1rem;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    height: 97.5vh;
    grid-template-rows: $admin-header-height 1fr $admin-footer-height;
    grid-template-columns: $admin-nav-width 1fr;
    grid-template-areas:
        'header header'
        'nav    main'
        'footer footer';

    &__header {
        display: flex;
        flex-basis: 100%;
        grid-area: header;
        height: $admin-header-height;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        position: relative;
    }

    &__nav {
        flex: 0 0 $admin-nav-width;
        grid-area: nav;
        background-color: #e1e5f2;
    }

    &__main {
        flex: 1;
        grid-area: main;
        padding: var(--spacing);
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;

        background-color: #f4f7fa;
    }

    &__footer {
        display: flex;
        grid-area: footer;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
        height: $admin-footer-height;
        padding: 0 var(--spacing);
        color: #fff;
        background-color: #05aaac;
    }

    @media screen and (min-width: 48rem) {
        --spacing: 2rem;
    }
}

.dashboard {
    --column-count: 2;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--spacing) * -0.5);
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    grid-gap: var(--spacing);

    &__item {
        flex: 1 1 50%;
        grid-column-end: span 2;
        padding: calc(var(--spacing) / 2);

        &--full {
            flex-basis: 100%;
            grid-column: 1 / -1;
        }

        &--col {
            flex-basis: calc(100% / var(--column-count));
            grid-column-end: span 1;
        }
    }

    @media screen and (min-width: 48rem) {
        --column-count: 4;
    }

    @supports (display: grid) {
        margin: 0;

        &__item {
            padding: 0;
        }
    }
}

a {
    color: #dc5a60;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    display: flex;
    flex: 0 0 $admin-nav-width;
    height: $admin-header-height;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    color: #fff;
    background-color: #05aaac;
    font-size: 1rem;

    h1 {
        margin: 0;
    }
}

.toolbar {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing);
}

.menu {
    padding: 0;

    &__item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    }
    &__link {
        display: block;
        padding: 1rem 2rem;
        color: #76808f;
        text-decoration: none;

        &:hover,
        &:focus {
            color: #fff;
            background-color: #05aaac;
        }
    }
}

.card-container {
    min-height: 2rem;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 300;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &__box {
        display: flex;
        width: 100%;
        color: black;

        &__title {
            font-size: 1.5rem;
        }

        &__description {
            width: 100%;
        }

        &__Alta {
            & span {
                background-color: red;
                padding: 0.1rem;
                border-radius: 5px;
            }
        }
        &__Media {
            & span {
                background-color: yellow;
                padding: 0.1rem;
                border-radius: 5px;
            }
        }
        &__Baixa {
            & span {
                background-color: yellowgreen;
                padding: 0.1rem;
                border-radius: 5px;
            }
        }

        &__content {
            min-width: 60vw;
            display: flex;
            flex-wrap: wrap;
            vertical-align: baseline;
            text-align: baseline;

            & li {
                display: flex;
                margin-right: 7rem;
                padding: 0.2rem;
            }
        }
    }
}

.btn {
    display: inline-block;
    position: right;
    border-radius: 4.5em;
    border: 0;
    padding: 1rem 1rem;
    white-space: nowrap;
    cursor: pointer;
    transition: 1s;

    &--primary {
        color: #fff;
        background-color: #05aaac;
    }

    &:hover,
    &:focus {
        color: #fff;
        background-color: #e1e5f2;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.ticker {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin-right: 1rem;
    }
}

.form-addtask {
    max-width: 100%;
    text-align: center;
    margin: 3rem;
    font-family: 'Merriweather', sans-serif;

    .form-input-area {
        margin: 1rem;
    }

    input,
    textarea,
    select {
        border: none;
        border-bottom: 1px solid #76808f;
        outline: 0;
        padding: 1rem;
        border-radius: 8px;
        display: block;
        width: 100%;
    }
}

.form-edittask {
    max-width: 100%;
    text-align: center;
    margin: 3rem;
    font-family: 'Merriweather', sans-serif;

    .form-input-edit {
        margin: 1rem;
    }

    input,
    textarea,
    select {
        border: none;
        border-bottom: 1px solid #76808f;
        outline: 0;
        padding: 1rem;
        border-radius: 8px;
        display: block;
        width: 100%;
    }
}

.viewtask {
    max-width: 100%;
    text-align: center;
    margin: 3rem;
    font-family: 'Merriweather', sans-serif;

    p {
        border: none;
        border-bottom: 1px solid #76808f;
        outline: 0;
        padding: 1rem;
        border-radius: 8px;
        display: block;
        width: 100%;
    }
}

.submit-btn {
    justify-content: center;
    align-items: center;
    margin: 1rem;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}
.submit-btn:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}
.submit-btn:active {
    position: relative;
    top: 1px;
}

.submit-modal {
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    margin-left: 2rem;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}
.submit-modal:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}
.submit-modal:active {
    position: relative;
    top: 1px;
}